<div class="goal">

    <h2>Goal:</h2>

    <table>
        <tr>
            <th>Title:</th>
            <td><%= @goal.title %></td>
        </tr>
        <tr>
            <th>Details:</th>
            <td><%= @goal.details %></td>
        </tr>
        <tr>
            <th>Visibility:</th>
            <td>
                <% if @goal.private %>
                    Private
                <% else %>
                    Public
                <% end %>
            </td>
        </tr>
        <tr>
            <th>Finished?:</th>
            <td>
                <% if @goal.completed %>
                    Completed
                <% else %>
                    Ongoing
                <% end %>
            </td>
        </tr>
        <% if current_user && current_user.id == @goal.user_id %>
            <tr>
                <th>Completed?</th>
                <td>
                    <%= render "shared/goal_complete_button", goal: @goal %>
                </td>
            </tr>
        <% end %>
    </table>
</div>